
.div-inline {
    display: inline-flex;
    @media (max-width: 768px) {
        display: block;
      };
}

.radius-div {
    background-color: rgb(2,148,233);
    padding: 30px;
    border-radius: 20px;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    margin-top: 30px;
    color: white;
    display: block;
    @media (max-width: 768px) {
        width: 100%;
      };
}

.top-div {
    /* marginTop: 100, fontSize: 70, fontWeight: 'bold', '@media (max-width: 768px)': {
        marginTop: '0px' */
    margin-top: 100px;
    font-size: 70px;
    font-weight: bold;
    @media (max-width: 768px) {
        margin-top: 0px;
        font-size: 60px;
    }
}

.img-pay {
    width: 20%;
    height: auto;
    border-radius: 40px;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.img-curr {
    width: 70px;
    height: auto;
    margin-top: 25px;
    margin-right: 30px;
}

.white-label {
    color: white;
    font-size: 24px;
}

.div-setting {
    background-image: url("./3.png");
    margin-top: 20px;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-right: 100px;

}

.icon-setting {
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

.p-setting {
    color: white;
    font-size: 36px;
    margin-left: 20px;
    margin-top: 50px;
}

.intro-div {
    text-align: center;
    color: rgb(2,148,233);
    padding: 50px;
    font-weight: bold;
}

.hoverButton:hover {
    background-color: rgb(2, 148, 233);
}

.small-img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    @media (max-width: 768px) {
        width: 100% !important;
    }
}

.img-label {
    background-color: rgb(2, 148, 233);
    width: 25%;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    margin-right: 20px;
}

.ad-btn {
    font-size: 24px;
    color: white;
    width: 100%;
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(2, 148, 233);
    margin-top: 40px;
    border-style: none;
}

.bottom-crytp {
    background-color: white;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}



.footer-div {
    background-color: rgb(0, 113, 255);
    width: 100%;
    padding-left: 30px;
    display: inline-flex;
    color: white;
    font-size: 20px;
    height: 150px;
    padding-top: 10px;
    @media (max-width: 768px) {
        margin-top: -30px;
    }
}

.bottom-curr {
    width: 50px;
    height: auto;
    margin-right: 50px;
}

.tab-pane {
    background-color: rgb(0,0,0) !important;
}

.btn-blue {
    width: 300px;
    height: 60px;
    background-color: rgb(11, 60, 222) !important;
    font-size: 24px;
    color: white;
    border-radius: 40px !important;
    margin-top: 50px;
    border: 1px solid white;
    position: relative;

}

.daily-intro {
    padding: 20px;
    border-radius: 50px;
    margin-top: 20px;
}

.book-btn {
    font-size: 16px;
    border-radius: 15px;
    color: black;
    border-style: none;
    margin-right: 10px;
    cursor: pointer;
}
.accordion-item {
}


.search-input {
    margin-top: 20px;
    color: black;
    font-size: 24px;
    background-color: white;
    border-style: none;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    padding-left: 20px;
    margin-right: 20px;
}

.MuiSlider-root {
    width: 100% !important;
    /* @media (max-width: 768px) {
        width: 30vw ;
      }; */

}

.MuiSlider-thumb {
    color: white !important
}

.min-label {
    margin-right: 13vw;
    @media (max-width: 768px) {
        width: 30vw ;
      };
}

.price-label {
    display: inline-flex;
    width: 49%;
    border: 1px solid rgb(234, 234, 234);
    margin-top: 10px;
    padding-left: 10px;
    height: 50px;
    padding-top: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.price-p {
    margin-left: 65%;
    @media (max-width: 768px) {
        margin-left: 24vw;
      };

}

.final-label {
    color: black;
    background-color: white;
    width: 100%;
    border-radius: 40px;
    padding-top: 5px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 23px;
    display: inline-flex;
}

.final-btn {
    height: 65px;
    margin-left: 40%;
    border-radius: 30px;
    width: 150px;
    color: white;
    background-color: rgb(2, 148, 233);
    border-style: none;

    @media (max-width: 768px) {
        margin-left: 60px;
    }

    @media (max-width: 600px) {
        margin-left: 0px;
    }
}

.pay-span {
    display: inline-flex;
    width: 25%;
    @media (max-width: 768px) {
        width: 50%;
      };
}

.search-media {
    @media (max-width: 768px) {
        width: 40% !important;
      };
}

.search-activity {
    @media (max-width: 768px) {
        width: 95% ;
      };
}

.suggest-label {
    margin-top: 30px;
    font-size: 20;
    @media (max-width: 768px) {
        font-size: 16px;
      };
} 

.rating-label {
    @media (max-width: 768px) {
        padding-left: 5px;
        width: 6vw;
        font-size: 16px;
        padding-left: 5px !important;
        padding-top: 10px;
      };
}

.rating-media {
    @media (max-width: 768px) {
        font-size: 10px;
      };
}

.booking-total-media {
    display: inline-flex;
    margin-bottom: 100px;
    @media (max-width: 768px) {
        display: block;
    };
}

.rating-star {
    
    @media (max-width: 768px) {
        
    };
}

.rating-fit {
    width: 27%;
    justify-content: center;
    padding-left: 25px;
    @media (max-width: 768px) {
        width: 100px;
        padding-left: 30px;
    }

    @media (max-width: 650px) {
        width: 60px;
        padding-left: 20px;
    }
}

.responsive-img {
    width: 30%;
    @media (max-width: 768) {
        width: 100%;
        padding-left: 20px;
    }
}

.responsive-div {
    display: inline-flex; 
    margin-top: 20px;
    width: 100%;
    @media (max-width: 768px) {
       display: block;
    }
}

.responsive-booking {
    display: inline-flex; 
    margin-top: 20px;
    @media (max-width: 768px) {
        display: block;
       padding-right: 30px;
     }
}

.responsive-booking-label {
    @media (max-width: 768px) {
        width: 100% !important;
        text-align: left;
        margin-right: 60px;
     }
}

.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  } 

  .popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-inner {
background-color: white;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
padding: 20px;
border-radius: 5px;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
width: 40%;
}

.popup-inner h2 {
margin-top: 0;
}

.popup-inner label {
display: block;
margin-bottom: 10px;
}

.popup-inner input {
width: 100%;
padding: 5px;
border-radius: 5px;
border: 1px solid #ccc;
margin-bottom: 10px;
}

.popup-inner button[type="submit"],
.popup-inner button[type="button"] {
background-color: #4CAF50;
color: white;
border: none;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-right: 10px;
cursor: pointer;
border-radius: 5px;
}

.popup-inner button[type="submit"]:hover,
.popup-inner button[type="button"]:hover {
background-color: #45a049;
}

.popup-inner button[type="submit"] {
margin-top: 20px;
}

.popup-inner button[type="button"] {
margin-top: 20px;
background-color: #f44336;
}

.popup-inner button[type="button"]:hover {
background-color: #da190b;
}

.popup-inner button[type="submit"]:disabled {
background-color: #bfbfbf;
color: #ffffff;
cursor: not-allowed;
}

.popup-inner button[type="button"]:disabled {
background-color: #bfbfbf;
color: #ffffff;
cursor: not-allowed;
}

.input-modal {
    color: white;
    background-color: black;
    border: 1px solid white;
    position: absolute;
    left: 50%;
    top: 500px;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 70%;
}

.confirm-modal {
    background-color: white;
    padding: 20px;
    color: black;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    width: 70%;
}
.intro-short-input {
    width: 15%;
}

.accordion-button::after {
    display: none; /* Hide the default arrow */
}

.accordion-button .accordion-icon {
    width: 40px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    margin-left: auto; /* Push the icon to the far right */
    background-size: cover;
    background-repeat: no-repeat;
}

.accordion-button.collapsed .accordion-icon {
    background-image: url("./Group 148.png"); /* Image for collapsed state */
}

.accordion-button:not(.collapsed) .accordion-icon {
    background-image: url("./Group 149.png"); /* Image for expanded state */
}
.accordion-item {
    border-radius: 15;
    border: 1px solid white;
    padding: 20px;
}

.book-label {
    font-size: 60px;
    font-weight: bold;
}

.book-tab-btn {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px !important;
}

 .intro-table {
    color: white;
    border: none;
    border-top: none !important;
    border-style: none;
 }
 .pill-responsive {
    @media (max-width: 768px) {
        font-size: 20px;
      };  
 }
 .link-responsive {
    @media (max-width: 768px) {
        font-size: 20px;
    };  
    @media (max-width: 630) {
        font-size: 14px;
      };  
 }

 input {
    border: none;
}

input:focus {
    outline: none;
}